body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #eee;
	color: #333;
}

.container {
	padding: 40px 43px 40px 60px;
	background: #fff;
	box-shadow: 0 0 10px #999;
}

.header-top {
	position: relative;
	height: 150px;
	margin-bottom: 10px;
	border-bottom: 3px solid #e31e24;
}

.header-top>strong {
	display: block;
	padding-top: 10px;
}

.header-report {
	display: block;
	float: right;
	min-width: 64px;
	padding-top: 64px;
	background: url('../img/paper-clip.png') 50% 0 no-repeat;
	margin: -10px 0 0 20px;
}

header h1 {
	float: left;
	margin-right: 50px;
}

header a.brand {
	display: block;
	width: 200px;
	height: 119px;
	padding: 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url(../img/logo.jpg) 0 0 no-repeat;
	margin-right: 50px;
}

.date {
	display: block;
	text-align: center;
	width: 96px;
	height: 62px;
	padding-top: 25px;
	background: url(../img/date-braces.png) 0 0 no-repeat;
}

.date-d,
.date-m,
.date-y {
	display: block;
}

.date-d {
	font-size: 42px;
}

.date-m {
	margin-top: 5px;
	font-size: 13px;
}

.date-y {
	font-size: 18px;
}

a {
	color: #e31e24;
}

a:hover {
	color: #a3161a;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
	background: #e31e24;
}

header .nav > li {
	margin-top: 5px;
	margin-right: -7px;
}

header .nav > li > a {
	font-size: 16px;
	font-weight: bold;
	color: #333;
	border: solid #333;
	border-width: 0 7px;
	border-radius: 0;
	margin: 0;
	padding-left: 25px;
	padding-right: 25px;
}

header .nav > .active > a,
header .nav > li > a:hover,
header .nav > .active > a:hover {
	color: #a3161a;
	border-color: #e31e24;
	background: transparent;
	position: relative;
	z-index: 2;
}

header .nav > .active > a {
	color: #e31e24;
}

.block-title {
	color: #fff;
	background: #333;
	text-transform: lowercase;
	text-align: center;
	font-size: 16px;
}

.entry-block {
	padding-left: 106px;
	padding-right: 40px;
}

.entry-block .date {
	float: left;
	margin-left: -112px;
}

.entry-footer {
	padding: 10px 0 30px;
}

.block-header {
	margin-bottom: 10px;
	padding: 5px 24px;
	background: #e31e24;
	font-weight: bold;
	color: #fff;
}

.block-header a,
.block-header a:hover {
	color: #fff;
}

.entry-block .block-header {
	margin-bottom: 5px;
	padding-top: 6px;
}

.count {
	float: right;
}

.table-well {
	background: whiteSmoke;
}

.well h2 {
	font-weight: normal;
	font-size: 20px;
}
