{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/house.css" />
<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5/leaflet.css" />
<!--[if lte IE 8]><link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5/leaflet.ie.css" /><![endif]-->
<script src="//cdn.leafletjs.com/leaflet-0.5/leaflet.js"></script>

<link rel="stylesheet" href="//danzel.github.com/Leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="//danzel.github.com/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
<script src="//danzel.github.com/Leaflet.markercluster/dist/leaflet.markercluster.js"></script>

<script type="text/javascript">
	var cmUrl = 'https://tiles.mapbox.com/v3/putnik.map-86mogcj7/{z}/{x}/{y}.png';
	var cmAttr = 'данные карты &copy; участники <a href="http://osm.org">OpenStreetMap</a>, рендер &copy; <a href="http://mapbox.com/">MapBox</a>';
</script>
{% endblock %}

